#ad-capture-wrapper{
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 566666;
}

#ad-capture-header {
    margin-top:50px;
    margin-left:10px;
}

#ad-capture-container {
    margin-top:10px;
    margin-left:10px;
    display: inline-block;
}

.ad-capture-btn {
    background: #ccc;
    padding: 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    cursor: pointer;
}

.ad-capture-btn a {
    color: #eee;
}

.btn-primary {
    background: blue;
}
